<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AppleReStore - делаем из старого новое!</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
</head>
<body>
    <header>
        {% include 'header.html' %}
    </header>

    <div id="content">
        {% block content %}
        {% endblock %}
    </div>

    <footer>
        {% include 'footer.html' %}
    </footer>
</body>
</html>
